@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply w-full px-3 py-2 text-sm font-light text-gray-600 transition-all duration-300 bg-gray-100 rounded-lg hover:bg-gray-200 active:bg-gray-100 focus:outline-none dark:focus:ring-blue-800 focus:ring focus:ring-offset-2 focus:ring-blue-400 focus:bg-gray-50 placeholder-shown:text-gray-400 dark:text-gray-200 dark:bg-gray-800 dark:placeholder-shown:text-gray-200 dark:focus:ring-offset-0;
  }

  .invalid {
    @apply text-red-500 dark:text-red-200 ring-red-500 ring-offset-2 ring-1;
  }

  .btn {
    @apply inline-flex items-center px-2 py-2 text-sm font-light transition-all duration-300 rounded-lg sm:px-4 active:ring ring-offset-1 focus:outline-none;
  }

  .btn-blue {
    @apply text-blue-600 bg-blue-200 btn dark:bg-blue-800 dark:text-blue-200 hover:bg-blue-300 active:bg-blue-700 active:text-blue-100 ring-blue-500;
  }

  .btn-green {
    @apply text-green-700 bg-green-100 btn hover:bg-green-300 active:bg-green-700 active:text-green-100 hover:text-green-800 dark:bg-green-800 dark:text-green-200 ring-green-500;
  }

  .btn-red {
    @apply text-red-700 bg-red-100 btn hover:bg-red-300 active:bg-red-700 active:text-red-100 hover:text-red-800 ring-red-500;
  }

  .btn-yellow {
    @apply text-yellow-700 bg-yellow-100 btn hover:bg-yellow-300 active:bg-yellow-700 active:text-yellow-100 hover:text-yellow-800 dark:bg-yellow-800 dark:text-yellow-200 ring-yellow-500;
  }

  .btn-amber {
    @apply text-amber-700 bg-amber-100 btn hover:bg-amber-300 active:bg-amber-700 active:text-amber-100 hover:text-amber-800 dark:bg-amber-800 dark:text-amber-200 ring-amber-500;
  }

  .btn-gray {
    @apply text-gray-700 bg-gray-100 btn hover:bg-gray-300 active:bg-gray-700 active:text-gray-100 hover:text-gray-800 dark:bg-gray-800 dark:text-gray-200 ring-gray-500;
  }

  .btn-text {
    @apply inline-flex items-center w-full p-2 text-sm duration-300 ease-linear rounded-md sm:px-4 max-w-max;
  }

  .btn-text-green {
    @apply text-green-500 btn-text hover:bg-green-100 active:bg-green-300 active:text-green-700;
  }

  .btn-text-blue {
    @apply text-blue-500 btn-text hover:bg-blue-100 active:bg-blue-300 active:text-blue-700;
  }
  .btn-text-yellow {
    @apply text-yellow-500 btn-text hover:bg-yellow-100 active:bg-yellow-300 active:text-yellow-700;
  }
  .btn-text-yellow {
    @apply text-amber-500 btn-text hover:bg-amber-100 active:bg-amber-300 active:text-amber-700;
  }
  .btn-text-red {
    @apply text-red-500 btn-text hover:bg-red-100 active:bg-red-300 active:text-red-700;
  }

  .h1 {
    @apply text-4xl font-extrabold leading-tight tracking-tighter;
  }

  .h2 {
    @apply text-3xl font-extrabold leading-tight tracking-tighter;
  }

  .h3 {
    @apply text-3xl font-bold leading-tight;
  }

  .h4 {
    @apply text-2xl font-bold leading-snug tracking-tight;
  }

  @screen md {
    .h1 {
      @apply text-5xl;
    }

    .h2 {
      @apply text-4xl;
    }
  }

  .btn,
  .btn-sm {
    @apply inline-flex items-center justify-center font-medium leading-snug transition duration-150 ease-in-out border border-transparent rounded;
  }

  .btn {
    @apply px-8 py-3 shadow-lg;
  }

  .btn-sm {
    @apply px-4 py-2 shadow;
  }
  .form-input,
  .form-textarea,
  .form-multiselect,
  .form-select,
  .form-checkbox,
  .form-radio {
    @apply bg-white border border-gray-300 focus:border-gray-500;
  }

  .form-input,
  .form-textarea,
  .form-multiselect,
  .form-select,
  .form-checkbox {
    @apply rounded;
  }

  .form-input,
  .form-textarea,
  .form-multiselect,
  .form-select {
    @apply px-4 py-3;
  }

  .form-input,
  .form-textarea {
    @apply placeholder-gray-500;
  }

  .form-select {
    @apply pr-10;
  }

  .form-checkbox,
  .form-radio {
    @apply text-gray-800 rounded-sm;
  }
}

.hamburger svg > *:nth-child(1),
.hamburger svg > *:nth-child(2),
.hamburger svg > *:nth-child(3) {
  transform-origin: center;
  transform: rotate(0deg);
}
.hamburger svg > *:nth-child(1) {
  transition: y 0.1s 0.25s ease-in,
    transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), opacity 0.1s ease-in;
}
.hamburger svg > *:nth-child(2) {
  transition: transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger svg > *:nth-child(3) {
  transition: y 0.1s 0.25s ease-in,
    transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19),
    width 0.1s 0.25s ease-in;
}
.hamburger.active svg > *:nth-child(1) {
  opacity: 0;
  y: 11;
  transform: rotate(225deg);
  transition: y 0.1s ease-out,
    transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1),
    opacity 0.1s 0.12s ease-out;
}
.hamburger.active svg > *:nth-child(2) {
  transform: rotate(225deg);
  transition: transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger.active svg > *:nth-child(3) {
  y: 11;
  transform: rotate(135deg);
  transition: y 0.1s ease-out,
    transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1),
    width 0.1s ease-out;
}
@keyframes pulseLoop {
  0% {
    opacity: 0.15;
    transform: scale(1) translateZ(0);
  }
  30% {
    opacity: 0.15;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0;
    transform: scale(1.8) translateZ(0);
  }
}
@keyframes pulseMiniLoop {
  0% {
    opacity: 0;
    transform: scale(1) translateZ(0);
  }
  30% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.3;
  }
  80% {
    opacity: 0;
    transform: scale(3) translateZ(0);
  }
}
.pulse {
  transform: scale(1);
  opacity: 0;
  transform-origin: center;
  animation: pulseLoop 10000ms linear infinite;
}
.pulse-mini {
  animation: pulseMiniLoop 6000ms linear infinite;
}
.pulse-1 {
  animation-delay: -3000ms;
}
.pulse-2 {
  animation-delay: -6000ms;
}
.animation-delay-500 {
  animation-delay: 500ms !important;
}
.animation-delay-1000 {
  animation-delay: 1000ms !important;
}
.translate-z-0 {
  transform: translateZ(0);
}
